<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diao.mapper.QuestionMapper">
    <insert id="createQuestion" parameterType="Question">
        insert into question(title, description, gmt_create, gmt_modified, creator, tag)
        values(#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <select id="listQuestions" resultMap="listQuestionsDtoMap">
        select distinct q.id as qid,
        q.title,
        q.description,
        q.gmt_create,
        q.gmt_modified,
        q.creator,
        q.comment_count,
        q.view_count,
        q.like_count,
        q.tag,
        u.avatar_url,
        u.name,
        u.id as uid
        from question as q inner join user as u on q.creator=u.account_id
        <where>
            <if test="keyword!=null">
                and title like concat('%',#{keyword},'%')
            </if>
            <if test="accountId != null">
                and  account_id=#{accountId}
            </if>
        </where>

        order by  q.gmt_create desc
        <if test="currentPage!=null" >
            <if test="pageSize!=null" >
                limit #{currentPage},#{pageSize}
            </if>
        </if>

    </select>

    <resultMap id="listQuestionsDtoMap" type="QuestionDto">
        <id property="id" column="qid"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="creator" column="creator"/>
        <result property="commentCount" column="comment_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="tag" column="tag"/>
        <association property="user" javaType="User">
            <result property="avatarUrl" column="avatar_url"/>
            <result property="id" column="uid"/>
            <result property="name" column="name"/>
        </association>

    </resultMap>


    <select id="selectQuestion" resultMap="listQuestionsDtoMap">
        select distinct q.id as qid,
        q.title,
        q.description,
        q.gmt_create,
        q.gmt_modified,
        q.creator,
        q.comment_count,
        q.view_count,
        q.like_count,
        q.tag,
        u.avatar_url,
        u.name,
        u.id as uid
        from question as q inner join user as u on q.creator=u.account_id
        where q.id=#{id}
        group by q.id
    </select>

    <select id="getQuestionCountByUserAccountId" resultType="_int">
        select count(1) from question where creator = #{accountId}
    </select>

    <select id="getQuestionCount" resultType="_int">
        select count(1) from question
    </select>

    <update id="updateQuestion" parameterType="Question">
        update question set title =#{title} , tag =#{tag} , description =#{description},gmt_modified =#{gmtModified} where id=#{id}
    </update>


    <update id="updateQuestionViewCountById">
        update question set view_count = view_count + 1 where id=#{id}
    </update>

    <update id="updateQuestionCommentCountById">
        update question set comment_count = comment_count + 1 where id=#{id}
    </update>


    <select id="listRelatedQuestions" resultType="com.diao.pojo.dto.RelatedQuestionsDto">
        select id,title ,description from question
        where tag REGEXP #{tags} and id != #{id};
    </select>

    <select id="getMyselfQuestionCount" resultType="int">
        select count(1) from question where creator =#{creator}
    </select>

</mapper>