.body1{
    background: url('/bg.jpg') repeat;
}
.main{
    margin:30px;
}
.publish{
    background-color: white;
}
.publishButton{
    float: right;
    margin-bottom: 15px;
}
.avatar{
    height: 38px;
    width: 38px;
}
.dsctext{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}