<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交流社区</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
</head>
<body class="body1">
<div th:insert="~{header :: head}"></div>
<div class="container-fluid main" style="margin: 30px">
    <div class="jumbotron">
        <h1>出错了!</h1>
        <p th:text="${message}"></p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/}" role="button">返回主页</a></p>
    </div>
</div>
</body>
</html>