<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交流社区</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <script th:src="@{/js/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
</head>
<body class="body1">
<script type="application/javascript">
    window.onload=function () {
        if ( window.localStorage.getItem("closable") == "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<div th:insert="~{header :: head}"></div>
<div class="container-fluid main" style="margin: 30px">
    <div class="row publish">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div th:if="${list != null}">
                <div class="media" th:each="entry : ${list.questions}">
                    <div class="media-left">
                        <a th:href="@{/question/}+${entry.id}">
                            <img class="media-object avatar" th:src="${entry.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a th:href="@{/question/}+${entry.id}" th:text="${entry.title}"> </a></h4>
                        <span class="dsctext">
                        <span class="label label-default" th:text=" ${entry.user.name}"></span>发起了问题
                        •<span th:text=" ${entry.likeCount}"></span>人关注
                        •<span th:text=" ${entry.commentCount}"></span>个回复
                        •<span th:text=" ${entry.viewCount}"></span>次浏览
                        •<span th:text=" ${#dates.format(entry.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>发布
                    </span>
                    </div>
                    <hr>
                </div>
                <nav th:if="${list.count != 0}" aria-label="Page navigation" style="float: right">
                    <ul class="pagination">
                        <li th:if="${list.hasHead}">
                            <a th:href="@{/index(page=${1},keyword=${keyword})}" aria-label="Next">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:if="${list.hasPre}">
                            <a th:href="@{/index(page=${list.currentPage - 1},keyword=${keyword})}" aria-label="Previous">
                                <span th:aria-hidden="${list.hasPre}">&laquo;</span>
                            </a>
                        </li>
                        <li th:class="${list.currentPage ==  pagelist ?'active' : ''}"
                            th:each=" pagelist : ${list.page}">
                            <a th:text="${pagelist}" th:href="@{/index(page=${pagelist},keyword=${keyword})}"></a>
                        </li>
                        <li th:if="${list.hasNext}">
                            <a th:href="@{/index(page=${list.currentPage + 1},keyword=${keyword})}" aria-label="Next">
                                <span th:aria-hidden="${list.hasNext}">&raquo;</span>
                            </a>
                        </li>
                        <li th:if="${list.hasTail}">
                            <a th:href="@{/index(page=${list.totlePage},keyword=${keyword})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>

        </div>
    </div>
</div>
</body>
</html>