<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <script th:src="@{/js/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
</head>
<body class="body1">
<div th:insert="~{header :: head}"></div>
<div class="container-fluid main" style="margin: 30px" id="app">
    <div class="row publish">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${select == 'question'}">
            <h2><span th:text="${selectName}"></span></h2>
            <hr>
            <div th:if="${list != null}">
                <div class="media" th:each="entry : ${list.questions}">
                    <div class="media-left">
                        <a th:href="@{/question/}+${entry.id}">
                            <img class="media-object avatar" th:src="${entry.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a th:href="@{/question/}+${entry.id}" th:text="${entry.title}"> </a></h4>
                        <span class="dsctext">
                        <span class="label label-default" th:text=" ${entry.user.name}"></span>发起了问题
                        •<span th:text=" ${entry.likeCount}"></span>人关注
                        •<span th:text=" ${entry.commentCount}"></span>个回复
                        •<span th:text=" ${entry.viewCount}"></span>次浏览
                        •<span th:text=" ${#dates.format(entry.gmtModified,'yyyy-MM-dd HH:mm')}"></span>发布
                            •<a style="font-size: 12px;color:#999;" th:href="@{/edit/}+${entry.id}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span th:text="${'编辑'}"></span>
                        </a>
                    </span>
                    </div>
                    <hr>
                </div>
                <nav th:if="${list.count != 0}"  aria-label="Page navigation" style="float: right">
                    <ul class="pagination">
                        <li th:if="${list.hasHead}">
                            <a th:href="@{'/personal/'+${select}(page=${1})}" aria-label="Next">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:if="${list.hasPre}">
                            <a th:href="@{'/personal/'+${select}(page=${list.currentPage - 1})}" aria-label="Previous">
                                <span th:aria-hidden="${list.hasPre}">&laquo;</span>
                            </a>
                        </li>
                        <li th:class="${list.currentPage ==  pagelist ?'active' : ''}"
                            th:each=" pagelist : ${list.page}">
                            <a th:text="${pagelist}" th:href="@{'/personal/'+${select}(page=${pagelist})}"></a>
                        </li>
                        <li th:if="${list.hasNext}">
                            <a th:href="@{'/personal/'+${select}(page=${list.currentPage + 1})}" aria-label="Next">
                                <span th:aria-hidden="${list.hasNext}">&raquo;</span>
                            </a>
                        </li>
                        <li th:if="${list.hasTail}">
                            <a th:href="@{'/personal/'+${select}(page=${list.totlePage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${select == 'replies'}">
            <h2><span th:text="${selectName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media" th:each="entry : ${list.notices}">
                    <div class="media-left">
                        <span th:text="${entry.notifyName}"></span>
                        <span th:text="${entry.type == 1 ? '评论了问题' : '回复了评论'}"></span>
                        <a  th:href="@{/notice/}+${entry.id}+'/'+${entry.outerId}+'/'+${entry.status}">
                            <span th:text="${entry.outerTitle}"></span>
                        </a>
                        <span class="label label-danger" th:if="${entry.status == 0}">未读</span>
                    </div>
                    <hr>
                </div>
            </div>

            <nav th:if="${list.count != 0}" aria-label="Page navigation" style="float: right">
                <ul class="pagination">
                    <li th:if="${list.hasHead}">
                        <a th:href="@{/personal/replies(page=${1})}" aria-label="Next">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:if="${list.hasPre}">
                        <a th:href="@{/personal/replies(page=${list.currentPage - 1})}" aria-label="Previous">
                            <span th:aria-hidden="${list.hasPre}">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="${list.currentPage ==  pagelist ?'active' : ''}"
                        th:each=" pagelist : ${list.page}">
                        <a th:text="${pagelist}" th:href="@{/personal/replies(page=${pagelist})}"></a>
                    </li>
                    <li th:if="${list.hasNext}">
                        <a th:href="@{/personal/replies(page=${list.currentPage + 1})}" aria-label="Next">
                            <span th:aria-hidden="${list.hasNext}">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="${list.hasTail}">
                        <a th:href="@{/personal/replies(page=${list.totlePage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group questionR" style="margin-top: 20px">
                <a th:href="@{/personal/question}"
                   th:class="${select == 'question'}? 'list-group-item active' : 'list-group-item'">
                    <span th:text="${'我的问题'}"></span>
                    <span class="badge" th:text="${questionCount}"></span>
                </a>
                <a th:href="@{/personal/replies}"
                   th:class="${select == 'replies'}? 'list-group-item active' : 'list-group-item'">
                    <span th:text="${'最新回复'}"></span>
                    <span class="badge" th:text="${noticeCount}"></span>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>
