<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-modle="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <link rel="stylesheet" th:href="@{/css/editormd.preview.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script th:src="@{/js/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
    <script th:src="@{/js/editormd.js}" type="application/javascript"></script>
    <script th:src="@{/js/lib/marked.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/lib/prettify.min.js}" type="application/javascript"></script>
</head>
<body class="body1">
<div th:insert="~{header :: head}"></div>
<input type="hidden" id="commentor" th:if="${session.user != null}" th:value="${session.user.accountId}">
<div class="container-fluid main" style="margin: 30px" id="app">
    <div class="row publish">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" id="questionId" th:value="${question.id}">
                <h3><span th:text="${question.title}"></span></h3>
                <span class="dsctext">
                        作者：<span class="label label-default" th:text=" ${question.user.name}"></span>|
                        发布时间：<span th:text=" ${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span>|
                        阅读数：<span th:text=" ${question.viewCount}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="application/javascript">
                    $(function () {
                        editormd.markdownToHTML("question-view",{})
                    })
                </script>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info" style="margin-right: 12px"
                          th:each="tag : ${question.tag.split(',')}">
                    <span class="glyphicon glyphicon-tags "></span>
                    <span style="margin-right:10px" th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${session.user != null && session.user.accountId == question.user.accountId}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                         th:if="${session.user!= null && session.user.accountId == question.creator}">

                        <a style="font-size: 12px;color:#999;" th:href="@{/edit/}+${question.id}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span th:text="${'编辑'}"></span>
                        </a>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>

                <h4>
                    <span th:text="${question.commentCount}">0</span>
                    <span>个回复</span>
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0;">
                <div th:if="comments != null" th:each="comment : ${comments}">
                    <div class="media-left">
                        <img class="img-rounded avatar" th:src="${comment.user.avatarUrl}">
                    </div>
                    <div class="media-body media-body-margin">
                        <h5 class="media-heading">
                            <a href="#" th:text="${comment.user.name}"></a>
                        </h5>
                        <span class="comment-size" th:text="${comment.content}"></span>
                        <div class="comment-size">
                            <span class="glyphicon glyphicon-thumbs-up comment-style" style="margin-right: 8px"></span>
                            <span class="glyphicon glyphicon-comment comment-style" th:data-id="${comment.id}"
                                  v-on:click="getComment($event)"></span>
                            <span th:text="${comment.replies}"></span>
                            <span class="pull-right"
                                  th:text=" ${#dates.format(comment.gmtCreate,'yyyy-MM-dd hh:mm')}"></span>
                            <!--                                二级子评论-->

                            <div th:id="${'comment-'+comment.id}"
                                 style="display: none;border:1px solid #eee;border-radius:5px;margin-top: 10px;">

                                <div style="padding-left: 15px;padding-top: 10px"
                                     v-for="comment in t">
                                    <div class="media-left">
                                        <img class="img-rounded avatar" v-bind:src="comment.user.avatarUrl">
                                    </div>
                                    <div class="media-body media-body-margin">
                                        <h5 class="media-heading">
                                            <a href="#">{{comment.user.name}}</a>
                                        </h5>
                                        <span class="comment-size">{{comment.content}}</span>
                                        <div class="comment-size">
                                            <span class="pull-right time-location">{{comment.gmtCreate | formatDate}}</span>
                                        </div>
                                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0">
                                    </div>
                                </div>
                                <div style="height: 84px;width: 800px;margin: 0 auto"><input type="text"
                                                                                             th:id="${'input-'+comment.id}"
                                                                                             class="form-control"
                                                                                             placeholder="评论一下......">
                                    <button style="float: right;margin-top: 10px;" type="button" class="btn btn-success"
                                            th:data-id="${comment.id}" @click="reply($event)">评论
                                    </button>
                                </div>

                            </div>
                        </div>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div th:if="${session.user != null}" id="comnentspace"
                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>提交评论</h4>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0">
                    <div class="media-left">

                        <a href="#">
                            <img class="img-rounded avatar" th:src="${session.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body media-body-margin">
                        <h5 class="media-heading">
                            <a href="#" th:text="${session.user.name}"></a>
                        </h5>
                    </div>
                    <div style="margin: 10px 0">
                        <textarea class="form-control" rows="6" id="text"></textarea></div>

                    <button id="submit" class="btn btn-success publishButton">评论</button>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h4>发起人</h4>
                <div class="media-left">
                    <a href="#">
                        <img class="media-object avatar" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#" th:text="${question.user.name}"> </a></h5>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h4>相关问题</h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0">
                    <ul class="related-question">
                        <li th:each="relate : ${relatedQuestions}">
                            <a th:href="@{/question/}+${relate.id}" th:text="${relate.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            t: [{
                id: '',
                parentId: '',
                type: '',
                commentator: '',
                likeCount: '',
                gmtCreate: '',
                gmtModified: '',
                content: '',
                user: {
                    id: '',
                    accountId: '',
                    name: '',
                    token: '',
                    avatarUrl: '',
                    gmtCreate: '',
                    gmtModified: ''
                }
            }],
            id: ''
        },
        methods: {
            request: function (url, data, method) {
                var that = this;
                $.ajax({
                    type: method,
                    url: url,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        var reslut = response.valueOf();
                        if (reslut.code == 2000) {
                            window.location.reload();
                        } else if (reslut.code == 4004) {
                            alert(reslut.message);
                        } else {
                            if (reslut.code == 4002) {
                                var flag = confirm(reslut.message);
                                if (flag) {
                                    window.open("https://github.com/login/oauth/authorize?client_id=6879f0ad718a6cb7e4ea&redirect_uri=http://localhost:8080/callback&scope=user&state=1");
                                    window.localStorage.setItem("closable", true);
                                }
                            }
                        }

                    }

                });
            },
            getComment: function (event) {
                var id = event.target.getAttribute("data-id");
                if (id == this.id || this.id == '') {
                    if (document.getElementById('comment-' + id).style.display == "none") {
                        document.getElementById('comment-' + id).style.display = "block";
                        var that = this;
                        this.id = id;
                        $.getJSON('/replies/' + id, null, function (response) {
                            if (response.code == 2000) {
                                that.t = response.t;
                            }
                            that.id = id;
                        });
                    } else if (document.getElementById('comment-' + id).style.display == "block") {
                        document.getElementById('comment-' + id).style.display = "none";
                        this.id = '';
                    }

                }
            },
            reply: function (event) {
                var id = event.target.getAttribute("data-id");
                var data = {
                    content: $('#input-' + id).val(),
                    commentator: $('#commentor').val(),
                    parentId: id,
                    type: 2
                };
                if (!data.content) {
                    alert("~评论不能为空");
                    return;
                }
                this.request('/reply', data, 'post');

            }
        },
        filters: {
            formatDate: function (num) {
                var date = new Date(num);
                var seperator1 = "-";
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                var currentdate = year + seperator1 + month + seperator1 + strDate;
                return currentdate;
            }
        }


    });

    $(function () {

        $('#submit').click(function () {
            var data = {
                content: $('#text').val(),
                commentator: $('#commentor').val(),
                parentId: $('#questionId').val(),
                type: 1
            };
            if (!data.content) {
                alert("~评论不能为空");
                return;
            }
            $.ajax({
                type: 'post',
                url: '/comment',
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    var reslut = response.valueOf();
                    if (reslut.code == 2000) {
                        window.location.reload();
                    } else if (reslut.code == 4004) {
                        alert(reslut.message);
                    } else {
                        if (reslut.code == 4002) {
                            var flag = confirm(reslut.message);
                            if (flag) {
                                window.open("https://github.com/login/oauth/authorize?client_id=6879f0ad718a6cb7e4ea&redirect_uri=http://localhost:8080/callback&scope=user&state=1");
                                window.localStorage.setItem("closable", true);
                            }
                        }
                    }

                }

            });

        })
    });

</script>